include ../pug/libs/_libs

block variables
  -
    let title = 'none';
    let metaKeywords = 'none';
    let metaDescription = 'none';

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='keywords' content=metaKeywords)
    meta(name='description' content=metaDescription)
    block styles
      link(href=require('../styles/index.scss') rel='stylesheet')

    title #{title}
  
  body
    block content
      h1 Hi. How are you?

    block scripts
      //script(src=require('../main.js'))


